*.ipynb linguist-documentation
*.tex linguist-documentation
replicate_plots.py linguist-documentation
test_one_forward.py linguist-documentation
generate_data.py linguist-documentation
output_data/* linguist-documentation
