*.jpg
*.pdf
*.png
*.so
*.ods
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.swp
*.doc
*.pyc
build/*
ruspectroscopy_tools.egg-info/*
dist/*
output_data/*.csv
input_data/*.csv
datamodules/__pycache__/*
rusmodules/__pycache__/*
